onprem-aws/infrastructure/cloudformation/step-functions/step-functions.yaml
AWSTemplateFormatVersion: '2010-09-09'
Description: >
  MineLogX CSV Vectorization Pipeline — Step Functions state machine (parity with
  the Terraform step_functions module). Invokes the CSV Lambda per stage group:
  Stage 1 (schema) → Stages 2-3 (normalize+chunk) → Stage 4 (OpenSearch ingest).

Parameters:
  NamePrefix:
    Type: String
  Environment:
    Type: String
  ProjectApnId:
    Type: String
    Default: 'pc:13uw3s8iyvze74tlcq3o0w8r6'
  CsvLambdaArn:
    Type: String

Resources:
  SfnRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${NamePrefix}-csv-sfn-role'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - { Effect: Allow, Principal: { Service: states.amazonaws.com }, Action: 'sts:AssumeRole' }
      Policies:
        - PolicyName: invoke-csv-lambda
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: 'lambda:InvokeFunction'
                Resource:
                  - !Ref CsvLambdaArn
                  - !Sub '${CsvLambdaArn}:*'
      Tags:
        - { Key: aws-apn-id, Value: !Ref ProjectApnId }
        - { Key: Environment, Value: !Ref Environment }

  CsvStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub '${NamePrefix}-csv-pipeline'
      RoleArn: !GetAtt SfnRole.Arn
      DefinitionString: !Sub |
        {
          "Comment": "MineLogX CSV vectorization pipeline",
          "StartAt": "SchemaInspection",
          "States": {
            "SchemaInspection": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${CsvLambdaArn}",
                "Payload.$": "States.JsonMerge($, {\"stages\": [1]}, false)"
              },
              "ResultPath": "$.stage1",
              "Next": "NormalizeAndChunk"
            },
            "NormalizeAndChunk": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${CsvLambdaArn}",
                "Payload.$": "States.JsonMerge($, {\"stages\": [2, 3]}, false)"
              },
              "ResultPath": "$.stage23",
              "Next": "OpenSearchIngest"
            },
            "OpenSearchIngest": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${CsvLambdaArn}",
                "Payload.$": "States.JsonMerge($, {\"stages\": [4]}, false)"
              },
              "ResultPath": "$.stage4",
              "End": true
            }
          }
        }
      Tags:
        - { Key: aws-apn-id, Value: !Ref ProjectApnId }
        - { Key: Environment, Value: !Ref Environment }

Outputs:
  StateMachineArn:
    Value: !Ref CsvStateMachine
  StateMachineName:
    Value: !GetAtt CsvStateMachine.Name
